* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.inner-container {
  width: 500px;
  margin-bottom: 1rem;
}

.inputs {
  width: 80%;
}

.expense-input {
  padding-bottom: 2rem;
}

.amount-input,
.expense-input {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.amount-input input,
.expense-input input {
  padding: 5px;
}

.add-btn,
.delete-btn,
.edit-btn {
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.add-btn {
  background: dodgerblue;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
